{% extends 'base.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='bots.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}


<div class="container-fluid">
    <br>
    <br>
    <br>
    <div class="alert alert-primary" hidden id="mbUploading" role="alert">
        Creating a new Bot
    </div>


    <h1>My Bots</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Created</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if bots %}

                {% for bot in bots %}
                    <tr>
                        <th scope="row"><div>{{bot.name}}</div></th>
                        <td><div>{{bot.created_at.strftime("%d/%m/%Y, %H:%M:%S")}}</div></td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#botModal" data-whatever="Detalse">Detalse</button>
                                    </div>
                                    <div class="col-sm">
                                        <input type="checkbox" class="toggle" data-toggle="toggle" data-on="Stop" data-off="Start" data-onstyle="danger" data-offstyle="success" />
                                    </div>
                                    <div class="col-sm">
                                        <button type="button" class="btn btn-primary">Edite</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                {% endif %}
                </tbody>
        </table>
    </div>


    <!-- MODAL -->

    <div class="modal fade" id="botModal" tabindex="-1" role="dialog" aria-labelledby="botModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                    {% block bot_modal %}{% endblock %}
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="botModalLabel"></h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <form>-->
<!--                            <div class="form-group">-->
<!--                                <label for="bot-name" class="col-form-label">Name:</label>-->
<!--                                <input type="text" class="form-control" id="bot-name">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="bot-api-key" class="col-form-label">API key:</label>-->
<!--                                <input type="text" class="form-control" id="bot-api-key">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="bot-calendar-id" class="col-form-label">Calendar Id:</label>-->
<!--                                <input type="text" class="form-control" id="bot-calendar-id">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label for="bot-create-date" class="col-form-label">Create date:</label>-->
<!--                                <input type="text" class="form-control" id="bot-create-date">-->
<!--                            </div>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        &lt;!&ndash;<button type="button" class="btn btn-primary">Send message</button>&ndash;&gt;-->
<!--                    </div>-->
            </div>
        </div>
    </div>
</div>

<script>

    function notifyU(event) {
        document.getElementById('mbUploading').removeAttribute("hidden");
    }
    const formU = document.getElementById('fUpload');
    formU.addEventListener('submit', notifyU);


    $('#botModal').on('show.bs.modal', function (event) {

                $.get("/editbot/1")
<!--            var button = $(event.relatedTarget) // Button that triggered the modal-->
<!--            var recipient = button.data('whatever') // Extract info from data-* attributes-->
<!--            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).-->
<!--            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->
<!--            var modal = $(this)-->
<!--            modal.find('.modal-title').text(recipient)-->
<!--            modal.find('.modal-body input#bot-name').val(recipient)-->
<!--            -->

    })



</script>

{% endblock %}
{% block extra_js %}

<script src="{{ url_for('static', filename='home.js') }}"></script>
{% endblock %}