{% extends 'base.html' %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/bots.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}


<div class="container-fluid">
    <br>
    <br>
    <br>
    <div class="alert alert-primary" hidden id="mbUploading" role="alert">
        Creating a new Bot
    </div>


    <h1>My Bots</h1>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">Create a new Bot</h4>
        </div>
        <div class="card-body">
            <form action="createbot" enctype="multipart/form-data" id="newBot" method="post">

                <label for="botname">Name</label>
                <input class="form-control" id="botname" name="botname" required type="text">

                <label for="api_key">API key</label>
                <input class="form-control" id="api_key" name="api_key" type="text">

                <label for="googlecalendar_id">Calendar ID</label>
                <input class="form-control" id="googlecalendar_id" name="googlecalendar_id" type="text">


                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>API Key</th>
                <th>Calendar ID</th>
                <th>Running</th>
                <th>Actions</th>


            </tr>
            </thead>
            <tbody>
            {% if bots %}

            {% for bot in bots %}
            <tr>
                <td>
                    <p>{{bot.name}}</p>
                </td>
                <td>
                    <p>{{bot.created_at.strftime("%d/%m/%Y, %H:%M:%S")}}</p>
                </td>
                <td>
                    <p>{{bot.api_key}}</p>
                </td>
                <td>
                    <p>{{bot.calendar_id}}</p>
                </td>
                <td>
                    <p>{{bot.is_running}}</p>
                </td>
                <td>
                    <a href="/editbot/{{ bot.id }}" id="editbot">
                        <button>Edit</button>
                    </a>
                    <a href="/startbot/{{ bot.id }}" id="startbot">
                        <button>Start</button>
                    </a>
                    <a href="/stopbot/{{ bot.id }}" id="stopbot">
                        <button>Stop</button>
                    </a>
                </td>
            </tr>
            {% endfor %}

            {% endif %}
            </tbody>
        </table>


    </div>
</div>

<script>

    function notifyU(event) {
        document.getElementById('mbUploading').removeAttribute("hidden");
    }
    const formU = document.getElementById('fUpload');
    formU.addEventListener('submit', notifyU);




</script>

{% endblock %}
{% block extra_js %}

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}