<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>{{ user_manager.USER_APP_NAME }}</title>
<!--    <title>Lili test</title>-->

    <!-- Styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {# *** Allow sub-templates to insert extra html to the head section *** #}
    {% block extra_css %}{% endblock %}

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
</head>


<body>
{% block body %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('home_page') }}">Bot Control</a>

    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            {% if call_or_get(current_user.is_authenticated) %}
            <a href="{{ url_for('user.edit_user_profile') }}">{{ current_user.username or current_user.email }}</a>
            &nbsp; | &nbsp;
            <a href="{{ url_for('user.logout') }}">{%trans%}Sign out{%endtrans%}</a>
            {% else %}
            <a href="{{ url_for('user.login') }}">{%trans%}Sign in{%endtrans%}</a>
<!--            <a href="{{ url_for('login') }}">{%trans%}Sign in{%endtrans%}</a>-->
            {% endif %}
        </li>
    </ul>
</nav>

<br>
<br>

<hr class="no-margins"/>

<div class="with-margins" id="main-div">

<!--    TODO: alert flash message-->

    {# One-time system messages called Flash messages #}
<!--    {% block flash_messages %}-->
    {% with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
    {% for category, message in messages %}
    {% if category=='error' %}
    {% set category='danger' %}
    {% endif %}
    <div class="alert alert-{{category}}">{{ message|safe }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
<!--    {% endblock %}-->

    {% block main %}
    {% block content %}{% endblock %}
    {% endblock %}
</div>

<br/>
<hr class="no-margins"/>
<div class="clearfix with-margins" id="footer-div">
    <div class="pull-left">{{ user_manager.USER_APP_NAME }} {{ user_manager.USER_APP_VERSION }}</div>
    <div class="pull-right">&copy; {{ user_manager.USER_COPYRIGHT_YEAR }} {{ user_manager.USER_CORPORATION_NAME }}</div>
<!--    <div class="pull-left">LILI 1.1.1.23344</div>-->
<!--    <div class="pull-right">&copy; 2020 bots control</div>-->
</div>
{% endblock %}


<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

{# *** Allow sub-templates to insert extra html to the bottom of the body *** #}
{% block extra_js %}{% endblock %}

</body>
</html>
